.resetBrowser();
@fontFamily : "PT Sans", "Helvetica Neue", Helvetica, Arial, '微软雅黑', '宋体';
@fontSize : 12px;
@fontColor: #000;
@linkColor: #666;
@hoverColor: #ccc;
.resetProjectFont(@fontFamily, @fontSize, @fontColor);
.resetProjectLink(@linkColor, @hoverColor);
