// global
@fontFamily : "PT Sans", "Helvetica Neue", Helvetica, Arial, '微软雅黑', '宋体';
@fontSize : 12px;
@fontColor: #000;
@linkColor: #666;
@hoverColor: #ccc;

// background
@bg_body : "image/bg_body.jpg";
@bg_login_reg : "image/bg_login_reg.jpg";
@bg_logo : "image/bg_logo.jpg";
@bg_ext : "image/bg_ext.jpg";
@bg_help : "image/bg_help.jpg";
@bg_list : "image/bg_list.jpg";
@bg_process : "image/bg_process.jpg";
@bg_search : "image/bg_search.jpg";
@bg_search_btn: "image/bg_search_btn.jpg";
@bg_weibo : "image/bg_weibo.jpg";
